#toolbar{
    position:fixed;
    top:50px;
    left:70%;
    background:#d6d6d6;
    width:200px;
    height:400px;
    border: 2px solid #333;
    z-index: 2;
}
input[type='text'] {
    color:#3399cc;
    border:none;
    outline:none;
}
#topbar {
    position: absolute;
    left:0px;
    top:0px;
    width: 200px;
    height: 50px;
    background: #333;
}
.tabs{
  position:absolute;
  background:#d6d6d6;
  top:20px;
  visibility:hidden;
}
#resize>div{
    display:inline-block;
    background:#e5e5e5;
    width:20px;
    text-align:center;
    color:#3399cc;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    cursor:pointer;
}
#size_box{
    width:20px;
}
.tab_buttons{
    background:#a6a6a6;
    width:50px;
    height:20px;
    display:inline-block;
    text-align: center;
    padding:0;
    margin:0;
    cursor:pointer;
}
.current_button{
    background: #d6d6d6 !important;
}
#current_color_square{
    width:30px;
    height:30px;
    background:black;
}
#recent_color_display{
    height:15px;
}
#generate_more_colors {
    float: right;
}
#brush_tab{
    visibility:visible;
}
#move_toolbar{
   width:20px;
   height:20px;
   float:left;
   background:#3399cc;
   cursor:move;
}